


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Data structures Visualization Quake Heaps Binary heaps Fibonacci heaps">
    <meta name="author" content="Seth Drew">

    <title>QuakeHeaps</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

    </style>

  </head>

<body>
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  {% include "header.html" %}

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Created by Seth Drew</h1>

          <p> Anyone looking to take a deeper dive into quake heap functionality and applied extensions is encouraged to use my python implemenation of QH, which can be found in the code base link below. Feel free to reach out to me with any questions or extensions.</p>
          <ul class="list-unstyled">
            <li>
              Email: seth --at-- sethdrew --dot-- com
            </li>
            <li>
              Code Base: https://github.com/SethDrew/quakeheaps
            </li>
          </ul>
        </div>
      </div>
    </div>


</body>
</html>