<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/bst.js')}}"></script>
    
    <style type="text/css">
    .node rect {
      /*cursor: pointer;*/
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
 

    .node text {            
      font-size: 12px;
    }

    path.link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }
    .heap {
     display: inline-block;
    }
    </style>
  

</head>
<body>
  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Welcome
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/treeview">Vis</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <div>
    <div class="container" style="margin-top:100px">
<div class="col-md-8" id="option" style="width:50%">
  <div style="width:50%">
    Add Nodes:
    <input name="addnum" 
           type="number" 
           id="addnum"
           value="15" >
           <input name="updatebutton"
           type="button"
           value="Update"
           onclick="addNodes($('#addnum').val())">
           <div style="width:50%">Teaching Mode<input type="checkbox" id="teaching" value="Teaching Mode">
    </div>
           <br>
           <br>
    <input name="extract"
           type="button"
           value="Extract Min"
           onclick="extractMin()">
    <input name="undo"
           type="button"
           value="Undo"
           id="undobutton"
           onclick="undo()"
           style="display:none">

    <input id="quakebutton"
     type="button"
      value="Quake"
       style="display:none"
        onclick="quake()">
    <input id="decreasecontinuebutton"
    type="button"
    value="Continue Decrease"
    style="display:none"
    onclick="continueDecrease()">
    <input id="extractcontinuebutton"
    type="button"
    value="Continue Extract"
    style="display:none"
    onclick="continueExtract()">
  </div>
    
    <input type="hidden" value="" id="tmpdata">
</div>
</div>
<div class="col-md-8" id="info"></div>

<div class="col-lg-12" id="qh"></div>
</div>

    <script>
        var mktree = function(tree){
            for(var rootnum = 0; rootnum < tree.length; rootnum++){
              var $div = $('<div />').appendTo('#qh');
              $div.attr('id', 'qh'+rootnum);
              $div.attr('class', 'heap')

              qh = d3.bst(d3, rootnum);
              qh.make(tree[rootnum]);

            }
          }
        $(document).ready(function(){
          var tree = {{tree_json | tojson | safe}}['all']
          mktree(tree);
        });

      
    </script>
    <script> 


    function addNodes(num) {
      $.getJSON("/update?num="+num, function(data, err){
        if(data){
          $("#qh").html("");
          mktree(data);
        }
        else{
          console.log(err);
        }
      });
    }



    function undo(){
      $.getJSON("/undo", function(data, err){
        if(data){
          $("#info").html("Undid last operation");
          $("#qh").html("");
          $("#undobutton").hide()
          mktree(data['all']);
        }
        else{
          console.log(err);
        }
      });
    }
    function housekeeping(data){ // sorry i know its a dumb name for a function
        $("#undobutton").show()
        $("#qh").html("");
        mktree(data['all']);
    }
    function extractMin(){
      if($("#teaching").is(":checked")){
        highlightExtract();
        $("#extractcontinuebutton").show()
      }
      else{
        continueExtract()
      }

    }
    function highlightExtract(){
      var node = d3.selectAll("g.node");
      var links = d3.selectAll("path.link");
      var min = 1000000;
      node.each(function(d){
        if(d.name < min){
          min = d.name
        }
      });

      links.filter(function(d){return d.source.name == min})
          .style("stroke","red");
      
      node.filter(function(d){return d.name == min})
          .style("stroke", "red");


    }
    function continueExtract(){
       $.getJSON("/extract", function(data, err){
        if(data){
          $("#info").html("Extracted min "+data['min']+" and rebalanced qh via incremental merge of same-height trees.<br>");
          housekeeping(data);

          if(data['quake_level'] > -1){

            $("#info").append('<p>Quake condition satisfied above level '+data['quake_level'] +' from the bottom. Press quake to cut above this level </p>')

            if($("#teaching").is(":checked")){
              highlightQuake(data['quake_level'])
            }

            $("#quakebutton").show()

          }
          $("#extractcontinuebutton").hide()

        }
        else{
          console.log(err);
        }
      });
    }
    function highlightQuake(level){
      
      var node = d3.selectAll("g.node");
      var links = d3.selectAll("path.link");

      function height(d){
        var dist_to_root = 0;
        var tmp = d;
        while(tmp.parent){
          tmp = tmp.parent;
          dist_to_root++;
        }
        return tmp.height - dist_to_root;
      }

      links.filter(function(d){
        return height(d.source) > level ;
      })
          .style("stroke","red");
      node.filter(function(d){ 
        return height(d) > level ;
      })
       .style("stroke", "red");
      
    }
    function decreaseKey(d){
    // Don't actually do anything until the user clicks continue
      $("#tmpdata").val(d.name);

      if($("#teaching").is(":checked")){
        $("#decreasecontinuebutton").show()
      }
      else{
        continueDecrease();
      }
    }

     function continueDecrease(){
      var name = $("#tmpdata").val()
       $.getJSON("/decrease?node="+name, function(data, err){
            if(data){
              $("#info").html("Decreased key "+name+" to "+data['newkey']);

              $("#decreasecontinuebutton").hide();
              housekeeping(data);
            }
            else{
              console.log(err);
            }
        }); 
    }


    function quake(){
      $.getJSON("/quake", function(data, err){
        if(data){
          $("#info").html("Cut all trees above quake condition violation above level "+data['quake_level'] + " from the bottom");
         housekeeping(data);
         $("#quakebutton").hide()

        }
        else{
          console.log(err);
        }
      }); 
    }

    </script>
</body>

</html>
