<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/bst.js')}}"></script>
    
    <style type="text/css">
    .node rect {
      /*cursor: pointer;*/
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
 

    .node text {            
      font-size: 12px;
    }

    path.link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }
    .heap {
     display: inline-block;
    }
    </style>
  

</head>
<body>
  
<div id="option">
    Add Nodes:
    <input name="addnum" 
           type="number" 
           id="addnum"
           value="15" >
           <input name="updatebutton"
           type="button"
           value="Update"
           onclick="addNodes($('#addnum').val())">
           <br>
           <br>
    <input name="extract"
           type="button"
           value="Extract Min"
           onclick="extractMin()">
</div>
<div id="info"></div>
<div id="qh"></div>

    <script>
        var mktree = function(tree){
          console.log(tree);
            for(var rootnum = 0; rootnum < tree.length; rootnum++){
              var $div = $('<div />').appendTo('#qh');
              $div.attr('id', 'qh'+rootnum);
              $div.attr('class', 'heap')

              qh = d3.bst(d3, "#qh"+rootnum);
              qh.make(tree[rootnum]);

            }
          }
        $(document).ready(function(){
          var tree = {{tree_json | tojson | safe}}['all']
          mktree(tree);
        });

      
    </script>
    <script>  
    function addNodes(num) {
      $.getJSON("/update?num="+num, function(data, err){
        if(data){
          $("#qh").html("");
          mktree(data);
        }
        else{
          console.log(err);
        }
      });
    }
    function extractMin(){
        $.getJSON("/extract", function(data, err){
        if(data){
          $("#info").html("Extracted min "+data['min']+" and rebalanced qh via merge.<br>");
          if(data['quake_level'] > -1){
            var quakebutton = $('<input type="button" value="Quake" onclick="quake()"/>');

            $("#info").append('Quake condition satisfied above level '+data['quake_level'] +' From the bottom. Press quake to cut above this level <br>')
            $("#info").append(quakebutton)

          }
          $("#qh").html("");
          mktree(data['all']);
        }
        else{
          console.log(err);
        }
      });
    }
    function decreaseKey(d){
    $.getJSON("/decrease?node="+d.name, function(data, err){
                    if(data){
                      $("#info").html("Decreased key "+d.name+" to "+data['newkey']);
                      $("#qh").html("");
                      mktree(data['all']);
                    }
                    else{
                      console.log(err);
                    }
                }); 
    }
    function quake(){
      $.getJSON("/quake", function(data, err){
        if(data){
          $("#info").html("Cut all trees above quake condition violation above level "+data['quake_level'] + " from the bottom");
          $("#qh").html("");
          mktree(data['all']);
        }
        else{
          console.log(err);
        }
      }); 
    }
    </script>
</body>

</html>
