<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{url_for('static', filename='js/bst.js')}}"></script>
    
    <style type="text/css">
    .node rect {
      /*cursor: pointer;*/
      fill: #fff;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
 

    .node text {            
      font-size: 12px;
    }

    path.link {
      fill: none;
      stroke: #ccc;
      stroke-width: 1.5px;
    }
    .heap {
     display: inline-block;
    }
    .collapsible {
        background-color: #888;
        color: white;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
    }

    .active, .collapsible:hover {
        background-color: #999;
    }

    .content {
        padding: 0 18px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
    }
  


    </style>
  

</head>
<body>
  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  {% include "header.html" %}
  <div>
  <div class="container" style="margin-top:100px">
<div class="row" style="border-bottom:2px solid black; padding-bottom:10px;">
  <div class="col-md-6">
  <button class="collapsible">Basic Info</button>
  <div id="basicinfo" class="content">
    <p>Quake heaps support three operations: <b>extract min</b>, <b>decrease key</b>, and <b>add</b>.</p> 
    <p>To get started: Click <b>add</b>, then use <b>Extract Min</b> to rebalance the trees. Click on nodes to decrease them and unbalance the tree, and then use extract min. If the tree is unbalanced enough through decrease key, a quake condition should occur.</p>
    <p> Use the <b>teaching mode</b> checkbox to get more detailed information about each of the operations as you explore the heap functionalites.</p>

  </div>
<button class="collapsible">Advanced (alpha, quake) </button>
<div id="advancedinfo" class="content">
    <p><b>Alpha</b> is the quake heap's internal balancing parameter. <b>Alpha</b> is the allowed percent difference between levels before rebalancing occurs. The greater the difference of number of nodes between levels, the more balanced and efficient the heap is. </p> <p>Low <b>alpha</b> garuntees more rebalacing quake operations, which enforces large information gain per level but takes more maintenance. </p> <p>High <b>alpha</b> allows the tree to be string like and not gain many new nodes each level, which can increase search time and space required. </p>
    <p> <b> Quake </b> operation is an internal rebalancing step done by the heap when it's trees become sparse. The heap's quake step has been halted and visualized for teaching purposes. </p> 
  </div>
</div>
<div class="col-md-6">
  <b>Description of operations </b> <input type="checkbox" id="description_op" value="Desc">

  <div id="extrainfo">
  <div id="quakeinfo" style="display:none;">
      <p>A quake happens on the heap when there is an alpha violation: for all level counts l_i (number of nodes at level i from the bottom of the tree), if l_i < l_i+1 * alpha, then a quake occurs. Choice of alpha is dependent on empirical data.</p>
       <p>When alpha is large, the tree will stay very balanced, but the costly quake operation will happen very often. If alpha is very small, the tree can grow very tall and therefore very space inneficient and take longer to find nodes at the leaves.</p>
        <p>The quake operation removes all nodes above the violation of the quake condition. In the below diagram, all red nodes and red links are deleted leaving the small trees below. Note that no information is lost, but there is work needed to merge the resulting trees to get good search results. Quake does not merge the resulting trees, but they become merged after the first extract min. </p>
    </div>

    <div id="decreaseinfo" style="display:none;">
      <p>Decreasing a node is simple and quick: If the node is already a root, just decrease it and all it's copies. If it is inside another tree, the subtree rooted at the decreasing node is cut out of its current parent tree. This only takes O(1) time. Then, the node can be freely decreased as it is already the lowest value node in it's subtree.</p>
    </div>
    <div id="extractinfo" style="display:none;">
      <p>Extract min is a two step operation: First, all links to the node being extracted must be deleted (see red links below). Once the minimum node has been cut out of it's current tree, there are many leftover subtrees. Each remaining tree in the quake heap then is merged with trees of the same height until there are no more possible merges. 
      </p>
        <p>Extract min does O(n) work in the worst case because we may need to merge O(n) trees.</p>
    </div>
  </p>
</div>
</div>
</div>

<div style="padding-top:10px" class="row" id="option">

    <div id="operations" class="col-md-6">
    <input name="addnum" 
           type="number" 
           id="addnum"
           value="15" >
           <input name="updatebutton"
           type="button"
           value="Add"
           onclick="addNodes($('#addnum').val())">
    <br>
    <input name="extract"
           type="button"
           value="Extract Min"
           onclick="extractMin()">
    <input id="extractcontinuebutton"
    type="button"
    value="Continue Extract"
    style="display:none"
    onclick="continueExtract()">
     <input id="decreasecontinuebutton"
    type="button"
    value="Continue Decrease"
    style="display:none"
    onclick="continueDecrease()">

    <input id="quakebutton"
     type="button"
      value="Quake"
       style="display:none"
        onclick="quake()">
<br>
           </div>


    
   


<div class="col-md-6">

    <input name="changealpha"
    type="number"
    id="changealpha"
    value=".5"
    step=".01">
    <input name="alphabutton"
           type="button"
           value="Set Alpha"
           onclick="changeAlpha($('#changealpha').val())">
<br>
           <b>Teaching Mode </b><input type="checkbox" id="teaching" value="Teaching Mode">
    </div>
        
    
<input type="hidden" value="" id="tmpdata">

  </div>

<div class="row" style = "padding:2px;">
  <div class="col-sm-4" id="info"></div>
  <div class="col-sm-4">    <input name="undo"
           type="button"
           value="Undo"
           id="undobutton"
           onclick="undo()"
           style="display:none"></div>
           </div>
         </div>
</div>

<div class="col-lg-12" id="qh"></div>
</div>
</div>
    <script>
        var mktree = function(tree){
            for(var rootnum = 0; rootnum < tree.length; rootnum++){
              var $div = $('<div />').appendTo('#qh');
              $div.attr('id', 'qh'+rootnum);
              $div.attr('class', 'heap')

              qh = d3.bst(d3, rootnum);
              qh.make(tree[rootnum]);

            }
          }
        $(document).ready(function(){
          var tree = {{tree_json | tojson | safe}}['all']
          mktree(tree);
        });

      
    </script>
    <script> 



    function addNodes(num) {
      $.getJSON("/update?num="+num, function(data, err){
        if(data){
          $("#qh").html("");
          mktree(data);
          $("#info").html("<p>Last Operation: added nodes to heap");
        }
        else{
          console.log(err);
        }
      });
    }


    function changeAlpha(newval){
      $.getJSON("/alpha?newval="+newval, function(data, err){
        if(data){
          $("#qh").html("");
          mktree(data['tree']);
          $("#info").html("<p>Last Operation: changed alpha to "+data['alpha']+"</p>");
          $("#changealpha").val(data['alpha']);
          $("#quakebutton").hide();
        }
        else{
          console.log(err);
        }
      });
    }
    function undo(){
      $.getJSON("/undo", function(data, err){
        if(data){
          $("#info").html("Undid last operation");
          $("#qh").html("");
          $("#undobutton").hide()
          mktree(data['all']);
        }
        else{
          console.log(err);
        }
      });
    }
    function housekeeping(data){ // sorry i know its a dumb name for a function
        $("#undobutton").show()
        $("#qh").html("");
        mktree(data['all']);
    }
    function extractMin(){

      if($("#teaching").is(":checked")){
        highlightExtract();
        $("#extractcontinuebutton").show()
      }

      else{
        continueExtract()
      }
      if($("#description_op").is(":checked")){
        $("#extractinfo").show()
      }

    }
    function highlightExtract(){
      var node = d3.selectAll("g.node");
      var links = d3.selectAll("path.link");
      var min = 1000000;
      node.each(function(d){
        if(d.name < min){
          min = d.name
        }
      });

      links.filter(function(d){return d.source.name == min})
          .style("stroke","red");
      
      node.filter(function(d){return d.name == min})
          .style("stroke", "red");


    }
    function continueExtract(){
       $.getJSON("/extract", function(data, err){
        if(data){
          $("#info").html("<p>Last Operation: extracted min <font color='red'>"+data['min']+"</font></p>");
          housekeeping(data);

          if(data['quake_level'] > -1){

            $("#info").append('<p>Quake condition satisfied above level '+data['quake_level'] +' from the bottom. Press quake to cut above this level </p>')

            if($("#teaching").is(":checked")){
              highlightQuake(data['quake_level']) 

            }
            if($("#description_op").is(":checked")){
              $("#quakeinfo").show()
            }
            $("#quakebutton").show()

          }
          $("#extractcontinuebutton").hide()
          $("#extractinfo").hide()


        }
        else{
          console.log(err);
        }
      });
    }
    function highlightQuake(level){
      
      var node = d3.selectAll("g.node");
      var links = d3.selectAll("path.link");

      function height(d){
        var dist_to_root = 0;
        var tmp = d;
        while(tmp.parent){
          tmp = tmp.parent;
          dist_to_root++;
        }
        return tmp.height - dist_to_root;
      }

      links.filter(function(d){
        return height(d.source) > level ;
      })
          .style("stroke","red");
      node.filter(function(d){ 
        return height(d) > level ;
      })
       .style("stroke", "red");
      
    }
    function decreaseKey(d){
    // Don't actually do anything until the user clicks continue
      $("#tmpdata").val(d.name);

      if($("#teaching").is(":checked")){
        $("#decreasecontinuebutton").show()

      }

      else{
        continueDecrease();
      }
      if($("#description_op").is(":checked")){

        $("#decreaseinfo").show()
      }

    }

     function continueDecrease(){
      var name = $("#tmpdata").val()
       $.getJSON("/decrease?node="+name, function(data, err){
            if(data){
              $("#info").html("<p>Decreased key <font color='red'>"+name+"</font> to "+data['newkey']+"</p>");

              $("#decreasecontinuebutton").hide();
              $("#decreaseinfo").hide()

              housekeeping(data);
            }
            else{
              console.log(err);
            }
        }); 
    }


    function quake(){
      $.getJSON("/quake", function(data, err){
        if(data){
          $("#info").html("Cut all trees above "+data['quake_level']);
         housekeeping(data);
         $("#quakebutton").hide()
         $("#quakeinfo").hide()

        }
        else{
          console.log(err);
        }
      }); 
    }

    </script>
    <script>

    var coll = document.getElementsByClassName("collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight){
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        } 
      });
    }
</script>
</body>

</html>
